@media (max-width: 992px) {
  .small-screen {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: white;
    z-index: 1000;
    transition: 0.3s linear;
  }

  .cart {
    min-height: 60vh;
  }
  .small-screen.active {
    transform: translateX(0);
  }
}

.Items {
  color: var(--white-color) !important;
  font-weight: var(--font-semi);
  background: var(--orange-color);
  padding: 1rem;
}
.Amount {
  border-top: 1px solid var(--orange-color);
}

.Amount span {
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

.trash {
  color: var(--orange-color);
}

.info h6 {
  font-weight: var(--font-semi);
}
.info span {
  font-size: var(--text-base);
  font-weight: var(--font-semi);
}
.cart {
  overflow-y: scroll;
  max-height: 45vh;
  overflow-x: hidden;
}
.select {
  border: 1px solid var(--orange-color);
  font-weight: 400;
  padding: 0 0.4rem;
}
.option {
  color: var(--orange-color);
  background: var(--white-color);
}

.cross {
  color: white !important;
}
